apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        azure.workload.identity/use: 'true'
      annotations:
        checksum/secret_env: {{ include (print $.Template.BasePath "/secret_env.yaml") . | sha256sum }}
        checksum/secret_config_files: {{ include (print $.Template.BasePath "/secret_config_files.yaml") . | sha256sum }}
    spec:
      serviceAccountName: {{ .Values.serviceAccountName }}
      containers:
      - name: {{ .Release.Name }}
        image: {{ required "image value is required!" .Values.image }}
        resources:
          requests:
            memory: 300Mi
            cpu: 20m
          limits:
            memory: 500Mi
            cpu: 500m
        ports:
        - name: http
          containerPort: 8080
        - name: actuator
          containerPort: 8082
        envFrom:
          - secretRef:
              name: {{ .Release.Name }}-env
        env:
          - name: SERVER_SERVLET_CONTEXT_PATH
            value: "{{ .Values.basePath }}"
          - name: SPRING_ACTUATOR_PORT
            value: "8082"
          - name: SPRING_ADMIN_SERVER_HOST
            value: "{{ .Values.springAdminServerHost }}"
          - name: SPRING_ADMIN_SERVER_PORT
            value: "{{ .Values.springAdminServerPort }}"
          - name: K8S_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8082
          initialDelaySeconds: 15
        startupProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8082
          initialDelaySeconds: 10
          failureThreshold: 30
        lifecycle:
          preStop:
            exec:
              command: ["sh", "-c", "sleep 10"]
        volumeMounts:
{{- range .Values.configFile }}
          - name: secret-config-files
            mountPath: {{ .mountPath }}
            subPath: {{ .name }}
{{- end }}
{{- range .Values.persistentVolumeClaims }}
          - name: pvc-{{ .name }}
            mountPath: {{ .mountPath }}
{{- end }}
      volumes:
        - name: secret-config-files
          secret:
            secretName: {{ .Release.Name }}-config-files
{{- range .Values.persistentVolumeClaims }}
        - name: pvc-{{ .name }}
          persistentVolumeClaim:
            claimName: {{ .name }}
{{- end }}