{{- range .Values.persistentVolumeClaims }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $.Release.Name }}-{{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  accessModes:
{{- range .accessModes }}
    - {{ . }}
{{- end }}
  resources:
    requests:
      storage: {{ .storage }}
{{- end }}
